/* Основной стиль */
#waybar {
  background: #121212;
  color: #C5C8C6;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 10pt;
}

* { 
    padding: 0 0.4em;
    min-height: 0;
    color: #d5c4a1;
}

/* Модули */

#workspaces {
  background: transparent;
  margin: 0.0em;
  padding: 0 0.05em;
}

#workspaces button {
  background: transparent;
  margin: 0.0em;
  padding: 0 0.05em;
}

#workspaces button.active {
  color: #FFFFFF;
  background: #d79921;
  border-radius: 0px;
  /* padding: 0; */
  /* margin: 0; */
}

#battery {
  color: #d79921;
}

#volume, #cpu, #memory {
  /* padding: 0 10px; */
}

/* Сеть */
#network {
  color: #8ec07c;
}

/* Часы */
#clock {
  color: #d79921;
    padding-right: 0px;
}


/* Стиль для других модулей */
.custom {
  color: #d79921;
}
