#waybar {
  background: transparent;
  color: #C5C8C6;
  font-family: "JetBrainsMono Nerd Font", monospace;
}

* {
  padding: 0.00 0.4em;
  min-height: 0;
  color: #d5c4a1;
}

tooltip label {
  padding: 40px;
  color: white;
  font-size: 18;
}

#taskbar button,
#workspaces button {
  background: rgba(20, 20, 20, 0.35);
  border-bottom: 2px solid rgba(50, 50, 50, 0.1);
  border-radius: 8px;
  padding: 0.0em 0.5em;
  margin: 0 0.25em;
  color: #f2f2f2;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05);
}


#taskbar button:hover,
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.35);
  transition: all 0.25s ease-in-out;
}

#taskbar button.active,
#workspaces button.active {
  background: rgba(60, 60, 60, 0.35);
}


#taskbar,
#workspaces {
  padding: 0.2em;
}

.modules-center {
  padding: 0px;
  margin: 0px;
}

.modules-left,
.modules-right,
.modules-center,
#cava {
  background: rgba(20, 20, 20, 0.65);
  transition: all 0.25s ease-in-out;
  box-shadow: inset 0 0 0px rgba(255, 255, 255, 0.05);

  border-top: 2px solid rgba(50, 50, 50, 0.1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #f2f2f2;
  font-weight: 500;

}

tooltip {
  background: rgba(20, 20, 20, 0.9);
  border-radius: 10px;
}

#cava {
  color: #fe8019;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0 3px;
}



#custom-cpu,
#custom-coin_btc,
#custom-coin_eth,
#disk,
#power-profiles-daemon,
#pulseaudio,
#volume,
#cpu,
#language,
#memory,
#battery,
#clock,
#network {
  padding: 0 1.0em;
  font-size: 16px;
}

#custom-cpu:hover,
#custom-coin_btc:hover,
#custom-coin_eth:hover,
#disk:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#volume:hover,
#cpu:hover,
#language:hover,
#memory:hover,
#battery:hover,
#clock:hover,
#network:hover {
  padding: 0 1.0em;
  font-size: 16px;

  background: rgba(60, 60, 60, 0.35);
  border-bottom: 2px solid rgba(50, 50, 50, 0.1);
  border-radius: 8px;

  color: #f2f2f2;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}
